*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  line-height: 1.15;
  font-family: 'Roboto', 'Nunito Sans', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}